body {
    margin: 0px;
}

header {
    text-align: center;
}

footer {
    background-color: cadetblue;
    margin-top: 10px;
    height: 50px;
    text-align: center;
}

/* Wireframe ONLY */
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Wireframe ONLY */

/* Start Landing Page CSS */
.entryEven {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
}

.entryOdd {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
    background-color: lightgray;
}

.entryName {
    margin: 5px;
}

.entryDate {
    margin-top: 0px;
    margin: 5px;
}
/* End Landing Page CSS */

/* Start Entry Page CSS */
.homeNav {
    display: flex;
    justify-content: center;    
}

.entryMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motivQuote {
    border: 3px solid black;
    margin: 15px;
    margin-bottom: 0px;
    width: 400px;
}

.motivQuote h2 {
    margin: 5px;
    text-align: center;
}

.motivQuote h4 {
    margin: 5px;
    text-align: center;
}

textarea {
    height: 250px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entryButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.buttons {
    align-content: flex-end;
}
/* End Entry Page CSS */

/* Start Login Page CSS */
.loginMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.loginInfo {
    margin-left: 20px;
    margin-right: 20px;
}

.inputLabel {
    margin-bottom: 5px;
    margin-top: 20px;
}

.input {
    width: 205px;
    height: 30px;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.newUser {
    display: flex;
    justify-content: center;
} 
/* End Login Page CSS */

/* Start Registration Page CSS */
.register {
    border: 3px solid black;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* End Registration Page CSS */