body {
    margin: 0px;
}

footer {
    background-color: cadetblue;
    margin-top: 10px;
    height: 50px;
    text-align: center;
}

/* Wireframe ONLY */
.wireframeLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Wireframe ONLY */

/* Start Selection Page CSS */
.meetupDiv {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 3px solid black;
}

.meetupTitle {
    margin: 5px;
}

.meetupDate {
    margin: 5px;
}
/* End Selection Page CSS */

/* Start Launch Page CSS */
.welcomeMessage {
    margin: auto;
    align-content: center;
    text-align: center;
}

.launchButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainButton {
    width: 100px;
}
/* End Launch Page CSS */

/* Start New Meetup Page CSS */
.newMeetup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End New Meetup Page CSS */

/* Start Launch Page CSS */
/* End Launch Page CSS */
/* Start Launch Page CSS */
/* End Launch Page CSS */

/* Start Login Page CSS */
.loginMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.loginInfo {
    margin-left: 20px;
    margin-right: 20px;
}

.inputLabel {
    margin-bottom: 5px;
    margin-top: 20px;
}

.input {
    width: 205px;
    height: 30px;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.newUser {
    display: flex;
    justify-content: center;
} 
/* End Login Page CSS */

/* Start Registration Page CSS */
.register {
    border: 3px solid black;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* End Registration Page CSS */

@media screen and (min-width: 768px){
    /* Start Entry Page CSS */
    .motivQuote {
        width: 700px;
    }

    textarea {
        height: 250px;
        width: 700px;
    }
    /* End Entry Page CSS */
}